 <div class="container">
      </br>
       <h4 class="center-align amber-text text-accent-1">
        POST COMPLETED!
      </h4>
      </br>
      <div class="row valign-wrapper">
      <a class="btn orange lighten-4 valign center-block" href="/articles">BACK TO LIST</a>
    </div>
  </div>
